body {perspective: 1000;}

div {width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: 5px;
}

h1 {color: black;
	font-size: 300%;
	transition: color 1s ease-in;}	

h1:hover {color: red;}	

#box1 {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: 5px;
	transition: all 1s ease-in;
}

#box1:hover {
	transform: rotate(180deg);
}

#box2 {
	width: 200px;
	height: 200px;
	border: 2px solid black;
	margin: 5px;
	transition: all 1s ease-in;
}

#box2:hover {
	transform: rotate(180deg);
}

#movingbox {
	width: 100px;
	height: 100px;
	border: 2px solid black;
}